# Configurações do Banco de Dados Azure SQL (MSSQL)
# Preencha nas configurações do Projeto (Settings > Environment Variables)
DB_HOST=configurador-produto-sql.database.windows.net
DB_USER=adminsql
DB_PASS=sua_senha
DB_NAME=configurador-produto
DB_PORT=1433

# Outras Configurações
GEMINI_API_KEY=sua_chave_aqui
NODE_ENV=production
